<?
newtitle();
echo '<table border="0" cellpadding="0" cellspacing="0" width="550"><tr><td>';
echo $TEXT["bellevue_info"];
?>
</td></tr></table>
<p><img border="0" src="../../../images/brewery/bellevue.jpg" width="375" height="180"></p>