<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
<?=$TEXT["bellevue_tourist_header"]?>
<?=$TEXT["bellevue_tourist"]?>
<p><a href="http://www.brucity.be" target="_blank">www.brucity.be</a><br>
<a href="http://www.opt.be" target="_blank">www.opt.be</a></p>
    </td>
    <td valign="top" align="right">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="right"><img border="0" src="../../../images/tourist/bellevue.jpg" width="170" height="250"><br><?=$TEXT["bellevue_tourist_pic1"]?></td>
          <td class="right"><img border="0" src="../../../images/tourist/bellevue2.jpg" width="170" height="250"><br><?=$TEXT["bellevue_tourist_pic2"]?></td>
        </tr>
      </table>
    </td>
  </tr>
</table>