<?
newtitle();

echo $TEXT["hoegaarden_info"];
?>
&nbsp;
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><img border="0" src="../../../images/brewery/hoegaarden3.jpg" width="250" height="188"></td>
    <td class="right"><img border="0" src="../../../images/brewery/hoegaarden.jpg" width="195" height="250"></td>
    <td class="right"><img border="0" src="../../../images/brewery/hoegaarden2.jpg" width="250" height="193"></td>
  </tr>
</table>