<table border="0" cellpadding="0" cellspacing="0" align="right">
  <tr>
    <td class="right"><img border="0" src="../../../images/brewery/hoegaarden_route.jpg" width="250" height="220"></td>
  </tr>
</table>
<?
echo $TEXT["hoegaarden_route_header"];
echo $TEXT["hoegaarden_route"];
?>
