<table border="0" cellpadding="0" cellspacing="0" align="right">
  <tr>
    <td class="righttop"><img border="0" src="../../../images/tourist/hoegaarden.jpg" width="200" height="150"><!--<br><?=$TEXT["hoegaarden_tourist_pic1"]?>--></td>
  <tr>
</table>

<?
	tourtitle();

	echo $TEXT["hoegaarden_tourist"];

	href('www.hoegaarden.be');
	echo $br;
	href('www.detuinenvanhoegaarden.be');

?>
</p>
