<h1>Forum Module</h1>


Welcome to the Forum module.<BR>
Please insert a message to dispatch below.<BR>

<?

	if($COMM=="SAVE")
	{
		echo "<BR>saving data.<BR>";
		save_message();

	}
	else
	{
		getTemplate("forum",0,0,1);
	}


	get_messages()

?>