<h1>Administration Module</h1>


Welcome to the administration area.<BR>

<?
	if (unread_messages())
		echo' Please read your messages before proceeding.<BR><BR>';
	else
		echo' Please select one of the tool options from the menu above.<BR><BR>You have no new messages.';


	get_messages("1");
?>