<h1>Administration Module</h1>


Welcome to the Sent Messages area.<BR>
Here you can delete messages that have been read.<BR>


<?

	if(isset($DELETE))
	{
		del_message($DELETE,$ALL);
	}

	get_sent_messages(0,1);

	get_sent_messages(1,1);

?>