
<h2>Are you sure to delete this user:</h2>
<?
	$result=dosql("select * from users where USER_ID = $UID");
	while($row = mysql_fetch_array($result, MYSQL_ASSOC))
		{
		echo "<b>".$row[USER_NAME]." ".$row[USER_EMAIL]."</b><BR>";

		}
?>
<p><a href="/web/en/admin/user.htm?DELOK=1&UID=<?=$UID?>" class="menu"><b>Delete</b></a> | <a href="/web/en/admin/user.htm" class="menu"><b>Cancel</b></a></p>
