<?

	if(($DELOK==1)&&isset($UID))
	{
		DelUser($UID);

	}


?>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="32" valign="top" class="list"><img border="0" src="/images/icons/user_new.gif" width="32" height="32" vspace="3"></td>
    <td>&nbsp;&nbsp; </td>
    <td valign="top" class="list"><b><a href="user_edit.htm?UID=0" class="menu">ADD USER</a></b></td>
    <td class="list"> </td>
    <td valign="top" class="list"></td>
    <td class="list"> </td>
    <td valign="top" class="list"></td>
    <td class="list"> </td>
    <td align="right" valign="top" class="list"></td>
  </tr>

<?
	$result=dosql("select * from USERS");
	$clean_line=getTemplate("TR_user");

	while($row = mysql_fetch_array($result, MYSQL_ASSOC))
	{
			$empty_line=$clean_line;


			if($row[USER_ROLE]=="A")  // sub Admin (not ADMIN UID=1) cannot delete other sub admins
			{
				if($_SESSION['USER_ID']!="1")
					$empty_line=str_replace('<a href="user_delete.htm?UID=VAR_ID">Delete</a> | <a href="user_edit.htm?UID=VAR_ID">Edit</a>',"",$clean_line);
			}

			$user_line=str_replace("VAR_NAME",$row[USER_FNAME]." ".$row[USER_SNAME],$empty_line);
			$user_line=str_replace("VAR_LOGIN",$row[USER_LOGIN],$user_line);
			$user_line=str_replace("VAR_PASS",$row[USER_PASS],$user_line);
			$user_line=str_replace("VAR_ID",$row[USER_ID],$user_line);
			$user_line=str_replace("VAR_ROLE",strtolower($row[USER_ROLE]),$user_line);
			$user_line=str_replace("VAR_EMAIL",$row[USER_EMAIL],$user_line);

			echo $user_line;
	}
?>

</table>
