<?
	if($COMM=="NEW")

	{

		if(checkfor("users","USER_LOGIN","$FORM_LOGIN", ""))
			echo "<B>A user with this name already exisits, please change the login name.<B><BR><BR>";
		else
		{
			$sql="insert into users values ('','$FORM_NAME','$FORM_LOGIN','$FORM_PASS','$FORM_ROLE','$FORM_EMAIL')";
			dosql($sql);
			echo " User profile saved.<BR>";
			makelink("/web/en/admin/user.htm","Continue");
			exit;
		}

	}
	if($COMM=="SAVE")

	{


		// IF THE LOGIN NAME HAS CHANGED AND THE NEW LOGIN ALREADY EXISTS.
		if(($OLDLOGIN!=$FORM_LOGIN)&&(checkfor("users","USER_LOGIN","$FORM_LOGIN", "")))
		{
			echo "<B>A user with this name already exisits, please change the login name.<B><BR><BR>";
		}
		else
		{

			$sql="update users set USER_NAME='$FORM_NAME',USER_LOGIN='$FORM_LOGIN',USER_PASS='$FORM_PASS',USER_ROLE='$FORM_ROLE',USER_EMAIL='$FORM_EMAIL'  where USER_ID='$UID'";
			dosql($sql,0);
			echo " User profile saved.<BR>";
			makelink("/web/en/admin/user.htm","Continue");

			exit;
		}

	}



	if ($UID==0)
	{
		if(!isset($FORM_FNAME))
		{
			$FORM_FNAME="";
			$FORM_SNAME="";
			$FORM_COMPANY="";
			$FORM_EMAIL="";
			$FORM_ROLE="";
			$FORM_HOME="";
			$FORM_LOGIN="";
			$FORM_PASS="";
			$COMM="NEW";
		}
	}
	else
	{
		if(!isset($FORM_FNAME))
		{

			$row=getonerow("select * from users where USER_ID='$UID'");
			$FORM_FNAME=$row["USER_NAME"];
			$FORM_EMAIL=$row["USER_EMAIL"];
			$FORM_ROLE=$row["USER_ROLE"];
			$FORM_HOME=$row["USER_HOME"];
			$FORM_LOGIN=$row["USER_LOGIN"];
			$FORM_PASS=$row["USER_PASS"];
			$OLDLOGIN=$FORM_LOGIN;
			$COMM="SAVE";
		}


		if($FORM_LOGIN=="security")
			$nochange=" disabled=true ";
		else
			$nochange="";


		if($FORM_ROLE=="A")
		{
			$admin="selected";
			$user="";
		}
		else
		{
			$admin="";
			$user="selected";
		}
	}


?>


<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
<form method="post" name="daten" onsubmit="return(checkuser())">
<input type="hidden" name="COMM" value="<?=$COMM?>">
<input type="hidden" name="UID" value="<?=$UID?>">
<input type="hidden" name="OLDLOGIN" value="<?=$OLDLOGIN?>">
  <tr>
    <td class="list" valign="top"><b>Name:</b><font color=red>*</font></td>
    <td class="list">&nbsp;&nbsp; </td>
    <td valign="top" class="list"><input type="text" name="FORM_NAME" value="<?=$FORM_FNAME?>" size="20" style="width: 200px" maxlength="50" <?=$nochange?>></td>
  </tr>

  <tr>
    <td class="list" valign="top"><b>E-Mail:</b><font color=red>*</font></td>
    <td class="list">&nbsp;&nbsp; </td>
    <td valign="top" class="list"><input type="text" name="FORM_EMAIL" value="<?=$FORM_EMAIL?>" size="20" style="width: 200px" maxlength="50"></td>
  </tr>
  <tr>
    <td class="list" valign="top"><b>Status:</b></td>
    <td class="list">&nbsp;&nbsp; </td>
    <td valign="top" class="list">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
          	<select name="FORM_ROLE">
          	<option value="U" <?=$user?>>User</option>
          	<option value="A"<?=$admin?>>Admin</option>
          	</select>
          </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td class="list" valign="top"><b>Login:</b><font color=red>*</font></td>
    <td class="list">&nbsp;&nbsp; </td>
    <td valign="top" class="list"><input type="text" name="FORM_LOGIN" value="<?=$FORM_LOGIN?>" size="20" style="width: 200px" maxlength="50"></td>
  </tr>
  <tr>
    <td class="list" valign="top"><b>Password:</b><font color=red>*</font></td>
    <td class="list">&nbsp;&nbsp; </td>
    <td valign="top" class="list"><input type="text" name="FORM_PASS" value="<?=$FORM_PASS?>" size="10" style="width: 100px" maxlength="10"></td>
  </tr>
  <tr>
    <td class="list"></td>
    <td class="list">&nbsp;&nbsp; </td>
    <td valign="top" class="list"><input type="submit" value="Save now!" name="B1" style="width: 100px">
    <input type="button" value="Cancel" name="B2" onClick="javascript:location.href='/web/en/admin/user.htm'" style="width: 100px"></td>
</form>
  </tr>
</table>
