body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

img{
	border:none;
}

/* calendar */
.cal th{
	height:30px;
}

.cal .line{
	height:1px;
	border-top:1px solid #bfbfbf;
	background-color:#FFFFFF;
	font-size:1px;
}

.cal .line2{
	height:15px;
	border-bottom:1px solid #bfbfbf;
	background-color:#FFFFFF;
	font-size:1px;
}

.cal .line2{
	height:1px;
	border-top:1px solid #ffffff;
}

.cal .month{
	color:#d22539;
	font-size:13px;
	text-align:center;
}

.cal .right{
	text-align:right;
	font-size:11px;
}

.cal .left{
	text-align:left;
	font-size:11px;
}
.cal a{
	color:#d22539;
	text-decoration:none;
}

#innercontent .cal .ouvert a,
#innercontent .cal .last_min a{
       color:#4F8402;
}


.cal a:hover{
	text-decoration:underline;
}

.cal td{
	font-size:11px;
	color:#333333;
	height:44px;
	width:44px;
	text-align:center;
	vertical-align:middle;
	padding:2px;
	background-color:#dedede;
	font-weight:bold;
}

.cal .bottom{
	vertical-align:bottom;
	text-align:left;
}

.cal .height_01{
	height:16px;
	font-size:10px;
	text-transform:uppercase;
	color:#000000;
	background-color:#FFFFFF;
	font-weight:normal;
}

.ferme{
	border-top:3px solid #808080;
}

.ouvert{
	border-top:3px solid #4f8402;
	color:#4f8402;
}

.dispo{
	border-top:3px solid #ca0000;
}

.frozen{
	border-top:3px solid #ca0000;
}

.passee{
	border-top:3px solid #ff6100;
}

.last_min{
	border-top:3px solid #ffa200;
}

.empty{
	border-top:3px solid #d9d9d9;
}

.cal td a{
	color:#333333;
	text-decoration:underline;
}

.cal td a:hover{
	color:#000000;
}

#wrapper .legende{
	padding-top:75px;
	font-size:11px;
	color:#333333;
	font-weight:bold;
	line-height:24px;
}

#wrapper .legende img{
	margin-right:6px;
}
/* reservation */

.res {
	float:left;
}

.res h2{
	color:#595959;
	text-transform:uppercase;
	font-size:16px;
	margin:0;
}

.res h3{
	color:#ca1a3e;
	font-size:16px;
	margin:0 0 0px 0;
}

.res h2 small{
	font-size:12px;
	display:block;
}

.res strong{
	color:#d22539;
}

.res p{
	line-height:20px;
	margin:8px 0 8xpx 0;
	padding:0;
}

.res .color_1,
.res .color_2{
	height:25px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
}

.res .color_1{
	background-color:#b3b3b3;
}

.res .color_2{
	background-color:#cccccc;
}

.res a{
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.res a:hover{
	text-decoration:underline;
}

.res table a{
	color:#d22539;
	text-decoration:underline;
}

.res table a:hover{
	color:#d22539;
	text-decoration:none;
}

.res .abstand1{
	width:100px;
	height:18px;
	margin-left:30px;
	margin-top:3px;
	float:left;
}

.res .abstand2{
	width:200px;
	height:18px;
	float:left;
}

.res .abstand3{
	width:150px;
	height:18px;
	margin-left:30px;
	margin-top:3px;
	float:left;
}
#wrapper .res h2 small{
	display:inline;
}

.fliesstext h1{
	font-size:16px;
	margin:5px 0 10px 0;
}

.fliesstext p{
	margin:0 0 5px 0;
}

.fliesstext strong{
	text-decoration:underline;
}

.fliesstext .abstand{
	width:210px;
	float:left;
	display:block;
	font-weight:bold;
}

.fliesstext .abstand_1{
	width:250px;
	float:left;
	display:block;
	font-weight:bold;
}