/* This is the print stylesheet to hide the Flash headlines from the browser... regular browser text headlines will now print as normal */

.sIFR-flash {
	display: none !important;
	height: 0;
	width: 0;
	position: absolute;
	overflow: hidden;
}

.sIFR-alternate {
	visibility: visible !important;
	display: block !important;
	position: static !important;
	left: auto !important;
	top: auto !important;
}
* {
	margin:0;
	padding:0;
	}
body {
	font-family:Arial, Helvetica, sans-serif;
	}
#slideshow,#flashcontent, #nav {
	visibility:hidden;
	height:1px;
	}
#footer {
	padding:20px 0 0 0;
	font-size:9px;
	}
.ftr_l {
	float:left;
	}
.ftr_r {
	float:right;
	}
h3, p {
	padding:20px 0 0 0;
	}