/*---- sIFR ---*/
.sIFR-flash {
	visibility: visible !important;
	margin: 0;
	padding: 0;
}

.sIFR-replaced {
	visibility: visible !important;
}

.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

/* Hide Adblock Object tab: the text should show up just fine, not poorly with a tab laid over it. */
.sIFR-flash + div[adblocktab=true] {
  display: none !important;
}

/*---- Header styling ---*/
.sIFR-hasFlash h2,
.sIFR-hasFlash h3 {
	visibility: hidden;
  font-family: Verdana;
  font-weight:normal;
  line-height: 1em;
}


.sIFR-hasFlash h2 {
	font-size: 22px;
	display:block;
	width:510px;
	float:left;
	padding:0 0 20px 0;
}
.sIFR-hasFlash h2.intro {
	font-size:22px;
	display:block;
	width:320px;
	float:left;
	padding:0 0 20px 0;
}


.sIFR-hasFlash h3 {
	font-size: 10px;
	margin:0 0 -3px 0;
}