
html, body {
	margin: 0;
	padding: 0;
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

#store_wrapper {
	text-align:left;
}


#paging {
	padding-top:0px;
	padding-bottom:16px;
	clear:both;
}

#products {
	padding:0;
	margin-left:5px;
	width:545px;
}

#products #itm {
	padding:0;
	margin:0px 19px 20px 0px; 
	width:120px;
 	background-color:#FFFFFF;	
	float:left;
}

#products #itmlst {
	padding:0;
	margin:0;
	width:120px;
	background-color:#FFFFFF;
	float:left;
}

.itm_img {
	border:#999999 1px solid;
	width: 120px;
}

.itm_img img {
	width: 120px;
}

.itm_info {
	padding-top:5px;
}

.itm_price {
	padding-top:5px;
	color:#000000;
	font-size:10px;
	font-weight:bold;
}

#sorting {
	padding-top:25px;
	padding-bottom:16px;
	clear:both;
}

#horizontal_sep {
	background-position:center;
	width:550px;
	background-image:url(../img/store_sep.gif);
	background-repeat:repeat-x;
}

#paging img {
	width:50px;	
}

<!-- DETAIL PAGINA CSS -->
.d_itm_img img {
	width: 270px;
}

#d_name { 
	font-size:16px;
	padding-bottom:13px;
}

#d_description {
	padding-bottom:10px;
	font-size:10px;
}

#d_special {
	font-size:11px;
	font-weight:bold;
	color:#b22238;
	padding-bottom:0px;
}
#d_message {
	padding-bottom:5px;
	font-size:10px;
}
#d_price {
	font-size:16px;
}
#d_picture {
	border:#999999 1px solid;
}