@charset "UTF-8";
/* CSS Document */
/* general */
* {
	margin:0;
	padding:0;
	outline:0;
	}
img, div, input { behavior: url("iepngfix.htc") }
body {
	background:#fff url(../img/bg_home.jpg) top center no-repeat;
	text-align:center;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	color:#000;
	font-size:10px;
	}
#wrapper {
	margin: 0 auto;
	width:960px;
	text-align:left;
	}
	
/* links */
a {
	text-decoration:none;
	color:#000;
	}
a:hover {
	text-decoration:underline;
	color:#000;
	}
p {
	text-align:justify;
	}
	
/* header */
#header {
	height:128px;
	width:960px;
	float:left;
	color:#9f9f9f;
	}
#header a {
	text-decoration:none;
	color:#e41e2c;
	}
#header a:hover {
	text-decoration:underline;
	color:#e41e2c;
	}
#flashcontent {
	float: left;
	width:300px;
	height:120px;
	}
#lng {
	float:left;
	width:160px;
	height:113px;
	padding:15px 0 0 10px;
	}
	
/* nav */
#nav {
	height:34px;
	width:938px;
	float:left;
	background:url(../img/bg_nav.png) top left no-repeat;
	padding:14px 0 0 22px;
	overflow:hidden;
	}
#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 14px;
	}
/* content */
#container {
	width:960px;
	float:left;
	position:relative;
	z-index:1;
	}
#slideshow {
	position:absolute;
	top:5px;
	left:585px;
	z-index:2;
	}

#cont_t {
	width:960px;
	float:left;
	height:15px;
	background:url(../img/bg_top.png) top left no-repeat;
	}
#content {
	width:910px;
	float:left;
	background:url(../img/bg_content.png) top left repeat-y;
	padding:10px 25px;
	}
#cont_b {
	width:960px;
	float:left;
	background:url(../img/bg_bttm.png) top left no-repeat;
	height:15px;
	}

#brewlist {
	list-style-image:url(../img/arrow_li.gif);
	list-style-position:outside;
	margin:0 0 0 20px;
	padding:20px 0 0 0;
	}
#brewlist li {
	border-bottom:1px #ccc solid;
	margin:15px 0 0 0;
	padding:0 0 15px 0;
	}
.redbold {
	font-weight:bold;
	color:#cc0000;
	}
#tourlist {
	list-style-image:url(../img/arrow_li.gif);
	list-style-position:outside;
	margin:0 0 0 20px;
	padding:5px 0 0 0;
	}
#tourlist li {
	border-bottom:1px #ccc solid;
	padding:0 0 10px 0;
	margin:10px 0 0 0;
	text-align:justify;
	}
	
/* footer */
#footer {
	width:960px;
	height:30px;
	float:left;
	overflow:hidden;
	}
.ftr_l {
	float:left;
	padding:5px 0 30px 10px
	}
.ftr_r {
	float:right;
	padding:5px 10px 30px 0
	}
	
/* lng chck */
#welcome {
	width:910px;
	height:70px;
	float:left;
	text-align:center;
	padding:180px 0 0 0;
	}
#lngblckNL {
	width:245px;
	height:90px;
	padding: 0 0 70px 86px;
	float:left;
	text-align:center;
	}
#lngblckFR {
	width:245px;
	height:90px;
	margin: 0 0 70px 0;
	float:left;
	border-left:#b2b2b2 1px solid;
	border-right:#b2b2b2 1px solid;
	text-align:center;
	}
#lngblckEN {
	width:245px;
	height:90px;
	padding: 0 86px 70px 0;
	float:left;
	text-align:center;
	}
#lngblckNL span, #lngblckFR span, #lngblckEN span {
	display:block;
	text-align:center;
	width:102px;
	padding:5px 0 0 0;
	}
.btn_ja {
	display:block;
	width:51px;
	height:27px;
	background:url(../img/btn_ja_off.gif) top left no-repeat;
	float:left;
	}
.btn_ja:hover {
	display:block;
	width:51px;
	height:27px;
	background:url(../img/btn_ja_on.gif) top left no-repeat;
	float:left;
	}
.btn_nee {
	display:block;
	width:51px;
	height:27px;
	background:url(../img/btn_nee_off.gif) top left no-repeat;
	float:left;
	}
.btn_nee:hover {
	background:url(../img/btn_nee_on.gif) top left no-repeat;
	}
.btn_oui {
	display:block;
	width:51px;
	height:27px;
	background:url(../img/btn_oui_off.gif) top left no-repeat;
	float:left;
	}
.btn_oui:hover {
	background:url(../img/btn_oui_on.gif) top left no-repeat;
	}
.btn_non {
	display:block;
	width:51px;
	height:27px;
	background:url(../img/btn_non_off.gif) top left no-repeat;
	float:left;
	}
.btn_non:hover {
	background:url(../img/btn_non_on.gif) top left no-repeat;
	}
.btn_yes {
	display:block;
	width:51px;
	height:27px;
	background:url(../img/btn_yes_off.gif) top left no-repeat;
	float:left;
	}
.btn_yes:hover {
	background:url(../img/btn_yes_on.gif) top left no-repeat;
	}
.btn_no {
	display:block;
	width:51px;
	height:27px;
	background:url(../img/btn_no_off.gif) top left no-repeat;
	float:left;
	}
.btn_no:hover {
	background:url(../img/btn_no_on.gif) top left no-repeat;
	}