<?
newtitle();
echo '<table border="0" cellpadding="0" cellspacing="0" width="550"><tr><td>';
echo $TEXT["jupiler_info"];
?>
</td></tr></table>
&nbsp;
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><img border="0" src="../../../images/brewery/jupiler_route.jpg" width="188" height="250"></td>
    <td class="right"><img border="0" src="../../../images/brewery/jupiler2.jpg" width="250" height="180"></td>
  </tr>
</table>
<p><a href="http://www.jupilerleague.be" target="_blank">www.jupilerleague.be</a></p>