<table border="0" cellpadding="0" cellspacing="0" align="right">
  <tr>
    <td class="righttop"><img border="0" src="../../../images/brewery/jupiler_route2.jpg" width="250" height="150"></td>
  </tr>
</table>
<?
echo $TEXT["jupiler_route_header"];
echo $TEXT["jupiler_route"];
?>