<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
<?=$TEXT["jupiler_tourist_header"]?>
<?=$TEXT["jupiler_tourist"]?>
<p><a href="http://www.liege.be" target="_blank">www.liege.be</a><br>
<a href="http://www.opt.be" target="_blank">www.opt.be</a></p>
    </td>
    <td valign="top" align="right">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="righttop"><img border="0" src="../../../images/tourist/jupiler.jpg" width="250" height="83"></td>
        </tr>
        <tr>
          <td class="right"><img border="0" src="../../../images/tourist/jupiler2.jpg" width="250" height="110"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>