<h1><?=$TEXT["logo"]?></h1>
<?=$TEXT["select"]?>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><a href="../stellaartois/index.htm"><img border="0" src="../../../images/logos/stellaartois.gif" width="150" height="127"></a></td>
          <td class="righttop"><a href="../jupiler/index.htm"><img border="0" src="../../../images/logos/jupiler.gif" width="150" height="110"></a></td>
          <td class="righttop"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><a href="http://www.twitgebrouw.be"><img border="0" src="../../../images/logos/hoegaarden.gif" width="150" height="89"></a></td>
          <td class="right"><a href="../leffe/index.htm"><img border="0" src="../../../images/logos/leffe.gif" width="150" height="168"></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
