body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

img{
	border:none;
}

/* calendar */
.cal th{
	height:30px;
}

.cal .line{
	height:1px;
	border-top:1px solid #bfbfbf;
}

.cal .line2{
	height:1px;
	border-top:1px solid #ffffff;
}

.cal .month{
	color:#d22539;
	font-size:14px;
}

.cal td{
	font-size:11px;
	color:#ffffff;
	height:44px;
	width:44px;
	text-align:center;
	vertical-align:middle;
	padding:2px;
}

.cal .bottom{
	vertical-align:bottom;
	text-align:left;
}

.cal .height_01{
	height:16px;
	font-size:10px;
	text-transform:uppercase;
	color:#000000;
}

.ferme{
	background-color:#808080;
}

.ouvert{
	background-color:#4f8402;
}

.dispo{
	background-color:#ca0000;
}

.passee{
	background-color:#ff6100;
}

.last_min{
	background-color:#ffa200;
}

.empty{
	background-color:#d9d9d9;
}

.cal td a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}

.cal td a:hover{
	text-decoration:underline;
}

.cal th a{
	color:#000000;
	text-decoration:none;
}

.cal th a:hover{
	color:#000000;
	text-decoration:underline;
}

/* reservation */
.res h2{
	color:#595959;
	text-transform:uppercase;
	font-size:16px;
	margin:0;
}

.res h3{
	color:#ca1a3e;
	font-size:16px;
	margin:0 0 0px 0;
}

.res h2 small{
	font-size:12px;
	display:block;
}

.res strong{
	color:#d22539;
}

.res p{
	line-height:20px;
	margin:8px 0 8xpx 0;
	padding:0;
}

.res .color_1,
.res .color_2{
	height:25px;
	text-align:center;
	font-weight:bold;
}

.res .color_1{
	background-color:#b3b3b3;
}

.res .color_2{
	background-color:#cccccc;
}

.res a{
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.res a:hover{
	text-decoration:underline;
}

.res table a{
	color:#d22539;
	text-decoration:underline;
}

.res table a:hover{
	color:#d22539;
	text-decoration:none;
}

.res .abstand1{
	width:100px;
	height:18px;
	margin-left:30px;
	margin-top:3px;
	float:left;
}

.res .abstand2{
	width:200px;
	height:18px;
	float:left;
}