body,p,td,ul,li {
Font-Family: Arial,Helvetica,Sans-Serif;
Font-Size: 12px;
color: #000000;
line-height: 150%;
}
select {
Font-Family: Arial,Helvetica,Sans-Serif;
Font-Size: 11px;
line-height: 100%;
}
input {
Font-Family: Arial,Helvetica,Sans-Serif;
Font-Size: 11px;
color: #000000;
line-height: 100%;
vertical-align: top;
padding-top: 4px;
padding-left: 4px;
padding-bottom: 0px;
padding-right: 4px;
border-width: 1px;
border-style: solid;
border-color: #000000;
}
input.radio {
padding-top: 4px;
padding-left: 4px;
padding-bottom: 4px;
padding-right: 4px;
border-width: 0px;
}
textarea {
Font-Family: Arial,Helvetica,Sans-Serif;
Font-Size: 11px;
color: #000000;
line-height: 100%;
vertical-align: top;
padding-top: 4px;
padding-bottom: 0px;
}
h1 {
Font-Size: 13px;
color: #A3001E;
}
h2 {
Font-Size: 13px;
color: #A3001E;
Font-weight: normal;
}
th {
Font-Size: 13px;
Font-Weight: bold;
}
td.top {
border-bottom-style: solid;
border-bottom-width: 3px;
border-bottom-color: #A3001E;
}
td.menu {
height: 19px;
background: #A3001E;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #FFEFBD;
}
td.mainnav {
height: 19px;
background: #A3001E;
padding-left: 15px;
padding-right: 15px;
Font-Size: 13px;
Font-Weight: bold;
color: #F8BA00;
}
td.amainnav {
height: 19px;
background: #FFEFBD;
padding-left: 15px;
padding-right: 15px;
}
td.submenu {
height: 17px;
background: #FFEFBD;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #A3001E;
}
td.subnav {
padding-left: 10px;
padding-right: 10px;
}
td.main {
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-right-style: solid;
border-right-width: 20px;
border-right-color: #FFFFFF;
background: #FFEFBD;
}
td.bookform {
padding-top: 1px;
padding-bottom: 1px;
padding-right: 3px;
Font-Size: 11px;
Font-Weight: bold;
vertical-align: middle;
}
td.bookformup {
padding-top: 1px;
padding-bottom: 1px;
padding-right: 3px;
Font-Size: 11px;
Font-Weight: bold;
vertical-align: top;
}
td.bookform_rup {
padding-top: 1px;
padding-bottom: 1px;
padding-right: 3px;
Font-Size: 11px;
Font-Weight: bold;
text-align: right;
vertical-align: top;
}

td.bookformbtn {
padding-top: 2px;
padding-bottom: 1px;
padding-right: 3px;
Font-Size: 11px;
Font-Weight: bold;
vertical-align: middle;
}
td.righttop {
padding-left: 20px;
padding-bottom: 20px;
text-align: center;
}
td.right {
padding-left: 20px;
text-align: center;
}
td.footer {
Font-Size: 11px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 20px;
}
td.past {
width: 50px;
height: 50px;
background: #996D04;
color: #F8BA00;
padding-right: 10px;
padding-bottom: 10px;
text-align: right;
vertical-align: bottom;
}
td.closed {
height: 50px;
width: 50px;
background: #A3001E;
color: #F8BA00;
padding-right: 10px;
padding-bottom: 10px;
text-align: right;
vertical-align: bottom;
}
td.open {
height: 50px;
width: 50px;
background: #005826;
color: #FFEFBD;
padding-right: 10px;
padding-bottom: 10px;
text-align: right;
vertical-align: bottom;
}
td.full {
height: 50px;
width: 50px;
background: #73701E;
color: #F8BA00;
padding-right: 10px;
padding-bottom: 10px;
text-align: right;
vertical-align: bottom;
}
td.frozen {
width: 50px;
height: 50px;
background: #0054A6;
color: #6DCFF6;
padding-right: 10px;
padding-bottom: 10px;
text-align: right;
vertical-align: bottom;
}
td.lastminute {
height: 50px;
width: 50px;
background: #F7511D;
color: #FFEFBD;
padding-right: 10px;
padding-bottom: 10px;
text-align: right;
vertical-align: bottom;
}
td.slotlastminute {
height: 25px;
background: #F7511D;
color: #FFEFBD;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFEFBD;
}

td.slotopen {
height: 25px;
background: #005826;
color: #FFEFBD;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFEFBD;
}
td.slotclosed {
height: 25px;
background: #A3001E;
color: #F8BA00;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFEFBD;
}
td.slotoption {
height: 25px;
background: #005826;
color: #FFEFBD;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFEFBD;
}
td.adminheader {
height: 25px;
background: #FF880A;
Font-Weight: bold;
color: #000000;
text-align: center;
}

td.adminslotoption {
height: 25px;
background: #AA5826;
color: #FFEFBD;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFEFBD;
}
td.adminslotheader {
border-top-style: solid;
border-top-width: 1px;
border-top-color: #000000;
background: #CCCCCC;
}

td.slotfull {
height: 25px;
background: #A3001E;
color: #F8BA00;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFEFBD;
}
td.slotlastminute {
height: 25px;
background: #F7511D;
color: #FFEFBD;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #FFEFBD;
}
table.calendar {
background: #F8BA00;
border-style: solid;
border-width: 1px;
border-color: #A3001E;
}
A:link {
text-decoration: underline;
color: #A3001E;
}
A:visited {
text-decoration: underline;
color: #A3001E;
}
A:active {
text-decoration: underline;
color: #A3001E;
}
A:hover {
text-decoration: underline;
color: #000000;
}
A.submenu:link {
Font-Size: 13px;
text-decoration: none;
color: #A3001E;
Font-Weight: bold;
}
A.submenu:visited {
Font-Size: 13px;
text-decoration: none;
color: #A3001E;
Font-Weight: bold;
}
A.submenu:active {
Font-Size: 13px;
text-decoration: none;
color: #A3001E;
Font-Weight: bold;
}
A.submenu:hover {
Font-Size: 13px;
text-decoration: none;
color: #000000;
Font-Weight: bold;
}
A.asubmenu:link {
Font-Size: 13px;
text-decoration: none;
color: #000000;
Font-Weight: bold;
}
A.asubmenu:visited {
Font-Size: 13px;
text-decoration: none;
color: #000000;
Font-Weight: bold;
}
A.asubmenu:active {
Font-Size: 13px;
text-decoration: none;
color: #000000;
Font-Weight: bold;
}
A.asubmenu:hover {
Font-Size: 13px;
text-decoration: none;
color: #000000;
Font-Weight: bold;
}
A.mainnav:link {
Font-Size: 13px;
Font-Weight: bold;
text-decoration: none;
color: #F8BA00;
}
A.mainnav:visited {
Font-Size: 13px;
Font-Weight: bold;
text-decoration: none;
color: #F8BA00;
}
A.mainnav:active {
Font-Size: 13px;
Font-Weight: bold;
text-decoration: none;
color: #F8BA00;
}
A.mainnav:hover {
Font-Size: 13px;
Font-Weight: bold;
text-decoration: none;
color: #FFEFBD;
}
A.amainnav:link {
Font-Size: 13px;
Font-Weight: bold;
text-decoration: none;
background: #FFEFBD;
color: #000000;
}
A.amainnav:visited {
Font-Size: 13px;
Font-Weight: bold;
text-decoration: none;
background: #FFEFBD;
color: #000000;
}
A.amainnav:active {
Font-Size: 13px;
Font-Weight: bold;
text-decoration: none;
background: #FFEFBD;
color: #000000;
}
A.amainnav:hover {
Font-Size: 13px;
Font-Weight: bold;
text-decoration: none;
background: #FFEFBD;
color: #000000;
}
A.dayopen:link {
Font-Size: 13px;
text-decoration: underline;
Font-Weight: bold;
color: #FFEFBD;
}
A.dayopen:visited {
Font-Size: 13px;
text-decoration: underline;
Font-Weight: bold;
color: #FFEFBD;
}
A.dayopen:active {
Font-Size: 13px;
text-decoration: underline;
Font-Weight: bold;
color: #FFEFBD;
}
A.dayopen:hover {
Font-Size: 13px;
text-decoration: none;
Font-Weight: bold;
color: #F8BA00;
}
span.calendar-prev {
Font-Size: 13px;
Font-Weight: bold;
}
span.calendar-next {
Font-Size: 13px;
Font-Weight: bold;
}
span.warn {
Font-Size: 13px;
Font-Weight: bold;
color: #FF0000;
}
caption.calendar-month {
Font-Size: 13px;
}
