@charset "UTF-8";
/* CSS Document */
body {
	background:#fff url(../img/bg_stella.jpg) top center no-repeat;
	text-align:center;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	color:#000;
	font-size:10px;
	}
#innercontent {
	width:510px;
	float:left;
	background:url(../img/logo_stella.jpg) right bottom no-repeat;
	padding:0 400px 0 0;
	font-size:12px;
	color:#333;
	}