@charset "UTF-8";
/* CSS Document */
body {
	background:#fff url(../img/bg_jupiler.jpg) top center no-repeat;
	text-align:center;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	color:#000;
	font-size:10px;
	}