@charset "UTF-8";
/* CSS Document */
/* general */
* {
	margin:0;
	padding:0;
	outline:0;
	}
img, div, input { behavior: url("iepngfix.htc") }
body {
	background:#fff url(../img/bg_home.jpg) top center no-repeat;
	text-align:center;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	color:#000;
	font-size:10px;
	}
#wrapper {
	margin: 0 auto;
	width:960px;
	text-align:left;
	}
	
/* links */
a {
	text-decoration:none;
	color:#000;
	}
a:hover {
	text-decoration:underline;
	color:#000;
	}
p {
	text-align:justify;
	}
	
/* header */
#header {
	height:128px;
	width:960px;
	float:left;
	color:#9f9f9f;
	}
#header a {
	text-decoration:none;
	color:#e41e2c;
	}
#header a:hover {
	text-decoration:underline;
	color:#e41e2c;
	}
#lng {
	float:left;
	width:160px;
	height:113px;
	padding:15px 0 0 10px;
	}
	
/* nav */
#nav {
	height:34px;
	width:938px;
	float:left;
	background:url(../img/bg_nav.png) top left no-repeat;
	padding:14px 0 0 22px;
	overflow:hidden;
	}
#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 14px;
	}
/* content */
#container {
	width:960px;
	float:left;
	position:relative;
	z-index:1;
	}
#slideshow {
	position:absolute;
	top:5px;
	left:555px;
	z-index:2;
	}

#cont_t {
	width:960px;
	float:left;
	height:15px;
	background:url(../img/bg_top.png) top left no-repeat;
	}
#content {
	width:910px;
	float:left;
	background:url(../img/bg_content.png) top left repeat-y;
	padding:10px 25px;
	}
#cont_b {
	width:960px;
	float:left;
	background:url(../img/bg_bttm.png) top left no-repeat;
	height:15px;
	}
	
/* footer */
#footer {
	width:960px;
	height:30px;
	float:left;
	overflow:hidden;
	}
.ftr_l {
	float:left;
	padding:5px 0 30px 10px
	}
.ftr_r {
	float:right;
	padding:5px 10px 30px 0
	}