<tr>
	<td colspan="2" width="100%" class="footer" align="right"><a href="<?=str_replace("/".$mylang,"/nl",$myurl["path"])."?".$myurl["query"]; ?>">Nederlands</a> | <a href="<?=str_replace("/".$mylang,"/fr",$myurl["path"])."?".$myurl["query"];?>">Fran&ccedil;ais</a> | <a href="<?=str_replace("/".$mylang,"/en",$myurl["path"])."?".$myurl["query"]; ; ?>">English</a></td>
</tr>
