    </td>
  </tr>
</table>
&nbsp;
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="10" valign="top" align="left">

<?
	if(file_exists("images/logos/$mybrewery.gif"))
	{
		echo "<img border=\"0\" src=\"/images/logos/$mybrewery.gif\" vspace=\"0\" hspace=\"20\">";
	}
?>