          </td>
        </tr>
<?
	if ((!strstr($REQUEST_URI,"/legal/"))&&(!strstr($REQUEST_URI,"/admin/")))
	{
		include_once("includes/htm/lang_menu.inc.htm");

	}
?>
      </table>
    </td>
  </tr>
</table>

</center>

</body>
</html>