    </td>
  </tr>
</table>
&nbsp;
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="190" valign="top" align="left">


<?

	if(($myBrewery=="Legal")||($myBrewery=="Start"))
		echo "<img border=\"0\" src=\"/images/layout/logo.jpg\" width=\"150\" height=\"150\" vspace=\"0\" hspace=\"20\" alt=\"".$TEXT["logo"]."\"><BR>";

	if(file_exists("images/logos/$mybrewery.gif"))
	{
		echo "<img border=\"0\" src=\"/images/logos/$mybrewery.gif\" vspace=\"0\" hspace=\"20\">";
	}

	if($page=="legal/index.htm")
		echo '<a target="_blank" href="http://www.demonstr8.com/images/jobs_inbev_tourguide.pdf">'."<img border=\"0\" src=\"/images/logos/job-en.jpg\" vspace=\"0\" hspace=\"20\" ></a>";

	else
		echo '<a target="_blank" href="http://www.demonstr8.com/images/jobs_inbev_tourguide.pdf">'."<img border=\"0\" src=\"/images/logos/job-$mylang.jpg\" vspace=\"0\" hspace=\"20\" ></a>";
?>