<?
	if ((!strstr($REQUEST_URI,"/legal/"))&&(!strstr($REQUEST_URI,"/admin/")))
	{
		include("includes/menu.inc.php");
	}
	elseif (strstr($REQUEST_URI,"/admin/"))
	{
			include("includes/htm/admin_menu.inc.htm");


	}
	else
	{
		include("includes/htm/legal_menu.inc.htm");
	}
?>
    </td>
  </tr>
  <tr>
    <td class="submenu" align="center" valign="top">
<?

	if ((!strstr($REQUEST_URI,"/legal/"))&&(!strstr($REQUEST_URI,"/start/"))&&(!strstr($REQUEST_URI,"/admin/")))
		{
		include("includes/submenu.inc.php");
		}
	elseif (strstr($REQUEST_URI,"/admin/"))
		{
		if((isadmin())&&($_SESSION['SSUSER_NAME']!="security"))
			include("includes/menu_admin.inc.php");
		if((isuser())||($_SESSION['SSUSER_NAME']=="security"))
			include("includes/menu_guide.inc.php");
		}
	else
		{
		echo "&nbsp;";
		}
?>