<?
newtitle();
echo '<table border="0" cellpadding="0" cellspacing="0" width="550"><tr><td>';
echo $TEXT["leffe_info"];
?>
</td></tr></table>
<p><img border="0" src="../../../images/brewery/leffe.jpg" width="250" height="154"></p>
<p><a href="http://www.leffe.be" target="_blank">www.leffe.be</a></p>