<table border="0" cellpadding="0" cellspacing="0" align="right">
  <tr>
    <td class="right"><img border="0" src="../../../images/brewery/leffe_route.jpg" width="250" height="188"></td>
  </tr>
</table>
<?
echo $TEXT["leffe_route_header"];
echo $TEXT["leffe_route"];
?>
