<table border="0" cellpadding="0" cellspacing="0" align="right">
  <tr>
    <td class="right"><img border="0" src="../../../images/brewery/leffe_reservation.jpg" width="243" height="250"></td>
  </tr>
</table>
<?
echo $TEXT["leffe_route_header"]="<h1>Leffe</h1>";
echo $TEXT["leffe_reservation"];
?>
