<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
<h1>Leffe: Dinant</h1>
<?=$TEXT["leffe_tourist"]?>
<p><a href="http://www.dinant.be" target="_blank">www.dinant.be</a><br>
<a href="http://www.dinant-tourisme.be" target="_blank">www.dinant-tourisme.be</a><br></p>
<!--<p><img border="0" src="../../../images/tourist/leffe.jpg" width="250" height="168"></p>-->
<p><img border="0" src="../../../images/tourist/leffe3.jpg" width="250" height="188"></p>
    </td>
    <td valign="top" align="right">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="righttop"><img border="0" src="../../../images/tourist/leffe4.jpg" width="161" height="250"><BR><?=$TEXT["leffe_tourist_pic2"]?></td>
        <tr>
        </tr>
          <td class="right"><!--<img border="0" src="../../../images/tourist/leffe2.jpg" width="190" height="250"><br><?=$TEXT["leffe_tourist_pic2"]?>-->&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>