<?
newtitle();
echo '<table border="0" cellpadding="0" cellspacing="0" width="550"><tr><td>';
echo $TEXT["stellaartois_info"];
?>
</td></tr></table>
<p><img border="0" src="../../../images/brewery/stellaartois.jpg" width="250" height="180"><img border="0" src="../../../images/brewery/stellaartois2.jpg" hspace="20" width="250" height="180"></p>
<p><a href="http://www.stellaartois.be" target="_blank">www.stellaartois.be</a></p>