<table border="0" cellpadding="0" cellspacing="0" align="right">
  <tr>
    <td class="right"><img border="0" src="../../../images/brewery/stellaartois_route.jpg" align="right" width="170" height="250"></td>
  </tr>
</table>
<?
echo $TEXT["stellaartois_route_header"];
echo $TEXT["stellaartois_route"];
?>
