<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
<h1>Stella Artois: Leuven</h1>
<?
echo $TEXT["stellaartois_tourist"];
href('www.leuven.be');

?>
    </td>
    <td valign="top" align="right">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="righttop"><img border="0" src="../../../images/tourist/stellaartois.jpg" width="250" height="167"><br><?=$TEXT["stellaartois_tourist_pic1"]?></td>
        </tr>
        <tr>
          <td class="right"><img border="0" src="../../../images/tourist/stellaartois2.jpg" width="250" height="186"><br><?=$TEXT["stellaartois_tourist_pic2"]?></td>
        </tr>
      </table>
    </td>
  </tr>
</table>