<div style="clear:both;"><!-- - --></div>
<div class="res">
<h2><small>Stella</small>Reservation</h2><br />
</div>
<div style="width:370px; float:left;">
<table width="342" border="0" cellspacing="2" cellpadding="0" class="cal">
  <tr>
    <th colspan="2" scope="col" class="left"><a href="#">« Previous</a></th>
    <th colspan="3" scope="col" class="month">June 2009</th>
    <th colspan="2" scope="col" class="right"><a href="#">Next »</a></th>
  </tr>
  <tr>
    <td colspan="7" class="line">&nbsp;</td>
  </tr>
  <tr>
    <td class="height_01 border">Lun</td>
    <td class="height_01">Mar</td>
    <td class="height_01">Mer</td>
    <td class="height_01">Thu</td>
    <td class="height_01">Fri</td>
    <td class="height_01">Sat</td>
    <td class="height_01">Sun</td>
  </tr>
  <tr>
    <td class="dispo">1</td>
    <td class="ferme">2</td>
    <td class="ferme">3</td>
    <td class="ferme">4</td>
    <td class="ferme">5</td>
    <td class="ferme">6</td>
    <td class="dispo">7</td>
  </tr>
  <tr>
    <td class="dispo">8</td>
    <td class="ouvert"><a href="#">9</a></td>
    <td class="ouvert"><a href="#">10</a></td>
    <td class="ouvert"><a href="#">11</a></td>
    <td class="ouvert">12</td>
    <td class="ouvert">13</td>
    <td class="dispo">14</td>
  </tr>
  <tr>
    <td class="dispo">15</td>
    <td class="passee">16</td>
    <td class="passee">17</td>
    <td class="passee">18</td>
    <td class="passee">19</td>
    <td class="passee">20</td>
    <td class="dispo">21</td>
  </tr>
  <tr>
    <td class="dispo">22</td>
    <td class="last_min">23</td>
    <td class="last_min">24</td>
    <td class="last_min">25</td>
    <td class="last_min">26</td>
    <td class="last_min">27</td>
    <td class="dispo">28</td>
  </tr>
  <tr>
    <td class="dispo">29</td>
    <td class="last_min">30</td>
    <td class=" empty">&nbsp;</td>
    <td class=" empty">&nbsp;</td>
    <td class=" empty">&nbsp;</td>
    <td class=" empty">&nbsp;</td>
    <td class=" empty">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="7" class="line2">&nbsp;</td>
  </tr>
</table>
</div>


<div class="legende">
    <p>
    <img src="img/cal_ferme.gif" />ferme<br />
    <img src="img/cal_ouvert.gif" />ouvert<br />
    <img src="img/cal_dispo.gif" />pas dispo.<br />
    <img src="img/cal_passee.gif" />date passee<br />
    <img src="img/cal_last.gif" />last minute
    </p>
</div>
