<div style="clear:both;"><!-- - --></div>
<div class="res">
<h2><small>Stella</small>Reservation</h2>
<p>Jupiler le 25.06.2009<br /> Reservation pour <strong>2</strong> personnes. <br />Commence a <strong>11:00</strong>, se termine a<strong> 13:00</strong></p>

<h3>formulaire de reservation</h3><br />
<span class="abstand1">Nom</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="bookfname"/></span><br /><br />
<span class="abstand1">Prenom</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="bookfname"/></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>

<span class="abstand1">Rue</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="bookstreet"/></span><br /><br />
<span class="abstand1">N°</span><span class="abstand2"><input value="" style="width: 60px;" maxlength="50" name="bookhnum"/></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>

<span class="abstand1">Ville</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="bookcity"/></span><br /><br />
<span class="abstand1">num postal</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="bookzip"/></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>

<span class="abstand1">Nom</span><span class="abstand2"><select style="width: 200px;" name="bookcountry" size="1">
<option value="BE">Belgium
</option><option value="FR">France
</option><option value="NL">Netherlands
</option><option value="UK">United Kingdom</option>
<option value="AR">Argentina
</option><option value="AU">Australia
</option><option value="AT">Austria
</option><option value="BS">Bahamas
</option><option value="BB">Barbados
</option><option value="BE">Belgium
</option><option value="BR">Brazil
</option><option value="BG">Bulgaria
</option><option value="CA">Canada
</option><option value="CN">China
</option><option value="CO">Colombia
</option><option value="HR">Croatia (Hrvatska)
</option><option value="CY">Cyprus
</option><option value="CZ">Czech Republic
</option><option value="DK">Denmark
</option><option value="DO">Dominican Republic
</option><option value="EC">Ecuador
</option><option value="EG">Egypt
</option><option value="EE">Estonia
</option><option value="FI">Finland
</option><option value="FR">France
</option><option value="DE">Germany
</option><option value="GI">Gibraltar
</option><option value="GR">Greece
</option><option value="GD">Grenada
</option><option value="HT">Haiti
</option><option value="HK">Hong Kong
</option><option value="HU">Hungary
</option><option value="IE">Ireland
</option><option value="IL">Israel
</option><option value="IT">Italy
</option><option value="JP">Japan
</option><option value="KZ">Kazakhstan
</option><option value="KR">Korea
</option><option value="KW">Kuwait
</option><option value="LB">Lebanon
</option><option value="LT">Lithuania
</option><option value="LU">Luxembourg
</option><option value="MK">Macedonia
</option><option value="MT">Malta
</option><option value="MC">Monaco
</option><option value="MA">Morocco
</option><option value="NL">Netherlands
</option><option value="NZ">New Zealand
</option><option value="NO">Norway
</option><option value="PA">Panama
</option><option value="PH">Philippines
</option><option value="PL">Poland
</option><option value="PT">Portugal
</option><option value="PR">Puerto Rico
</option><option value="RO">Romania
</option><option value="RU">Russia
</option><option value="YU">Serbia and Montenegro
</option><option value="SC">Seychelles
</option><option value="SG">Singapore
</option><option value="SK">Slovakia
</option><option value="SI">Slovenia
</option><option value="ZA">South Africa
</option><option value="ES">Spain
</option><option value="SH">St. Helena
</option><option value="SE">Sweden
</option><option value="CH">Switzerland
</option><option value="TH">Thailand
</option><option value="TT">Trinidad and Tobago
</option><option value="TN">Tunisia
</option><option value="TR">Turkey
</option><option value="AE">Un. Arab. Emir.
</option><option value="UK">United Kingdom
</option><option value="US">United States
</option><option value="UY">Uruguay
</option></select></span>
<div style="clear:left; padding:5px;"><!-- - --></div>

<span class="abstand1">E-Mail</span><span class="abstand2">
<input value="" style="width: 200px;" maxlength="50" name="bookemail"/></span><br /><br />
<span class="abstand1">Mobil</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="bookmobile"/></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>

<br /><br />
<h3>informations visites</h3><br />
<span class="abstand1">societes</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="bookgname"/></span><br /><br />
<span class="abstand1">departments</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="bookdept"/></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>
<span class="abstand1">age visiteur</span><span class="abstand2">0 a 11 ans <input value="" style="width: 60px;" maxlength="50" name="bookjunior"/> / pers</span><br /><br />
<span class="abstand1">+ de 11 ans</span><span class="abstand2"><input value="" style="width: 60px;" maxlength="50" name="booksenior"/> / pers</span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>
<span class="abstand1">langue visite</span><span class="abstand2"><select style="width: 200px;" name="booklang" size="1"></select></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>


<br /><br />
<h3>adresse de facturation</h3><br />
<span class="abstand1">Societe</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="book_inv_name"/></span><br /><br />
<span class="abstand1">TVA</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="book_inv_vat"/></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>

<span class="abstand1">Rue</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="book_inv_street"/></span><br /><br />
<span class="abstand1">N°</span><span class="abstand2"><input value="" style="width: 60px;" maxlength="50" name="book_inv_hnum"/></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>

<span class="abstand1">Ville</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="book_inv_city"/></span><br /><br />
<span class="abstand1">num postal</span><span class="abstand2"><input value="" style="width: 200px;" maxlength="50" name="book_inv_zip"/></span><br /><br />
<div style="clear:left; padding:5px;"><!-- - --></div>
<br />
<a href="#"><img src="img/effacer.jpg" style="border:none;" /></a><a href="#"><img src="img/continuer.jpg" style="border:none; margin-left:20px;" /></a>
</div>
