<div style="clear:both;"><!-- - --></div>
<div class="res">
<h2><small>Stella</small>Reservation</h2>
<p>periode libre pour les visites le 25.06.2009 pour <strong>2</strong> personnes. <br />Choisissez la langue de la visite</p>
<table width="200" border="0" cellspacing="2" cellpadding="0">
  <tr class="color_1">
    <td>09:00 - 11:00</td>
    <td><strong><a href="#">NL</a> - <a href="#">FR</a> - <a href="#">EN</a></strong></td>
  </tr>
  <tr class="color_2">
    <td>11:00 - 13:00</td>
    <td><strong><a href="#">NL</a> - <a href="#">FR</a> - <a href="#">EN</a></strong></td>
  </tr>
  <tr class="color_1">
    <td>13:00 - 15:00</td>
    <td><strong><a href="#">NL</a> - <a href="#">FR</a> - <a href="#">EN</a></strong></td>
  </tr>
  <tr class="color_2">
    <td>15:00 - 17:00</td>
    <td><strong><a href="#">NL</a> - <a href="#">FR</a> - <a href="#">EN</a></strong></td>
  </tr>
</table>
<p>
<a href="#"><img src="img/arrow.jpg" style="margin-right:4px;" /> Changes nombre de personnes</a>
<br />
<a href="#"><img src="img/arrow.jpg" style="margin-right:4px;" /> Retouner vers le calendrier</a>
</p>
</div>
