<div style="clear:both;"><!-- - --></div>
<div class="res">
<h2><small>Stella</small>Reservation</h2>
<p>Combien de personnes y-a-t il dans votre groupe?</p>
<input name="input" type="text" maxlength="2" style="margin:0 10px 0 0; width:60px; height:16px;" />
<input name="" type="image" src="img/ok.jpg" align="bottom" style="margin-bottom:-7px;" />
</div>
